@font-face {
  font-family: "Marvel";
  src: url("./assets/Marvel.ttf");
}
#FirsPart {
  background-image: url("./images/mWmn.png");
  background-size: 100%;
  margin-top: 50px;
  border: 10px 10px;
  width: 300px;
  height: 138px;
}

#centerCanvas {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

#start-button {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 60px;
  background: #eb0404;
  padding: 20px 60px 20px 60px;
  cursor: pointer;
  font-family: "Marvel";
  box-shadow: 10px 5px 5px black;
  transition: transform 0.4s;
  text-shadow: 10px 2px #000000;
}

#theButtonStart {
  display: flex;
  justify-content: center;
}

#commands {
  list-style: none;
}

#end-game-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#end-button {
  color: #ffffff;
  font-size: 60px;
  background: #eb0404;
  padding: 20px 60px 20px 60px;
  cursor: pointer;
  font-family: "Marvel";
  box-shadow: 20px 5px 5px black;
  transition: transform 0.4s;
  text-shadow: 10px 0px 0px #000000;
}

#howToPlay {
  display: flex;
  background-color: whitesmoke;
  opacity: 0.8;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  font-family: "Marvel";
  margin-bottom: 50px;
}

body {
  background-image: url("./images/Thanos_resurrects_Vision.png");
  background-image: url("./images/AvengersFacilityDestroyed.jpg");
  background-size: 100%;
  height: 780px;
}

#start-button:hover {
  transform: scale(1.15);
  letter-spacing: 0.6cm;
}

#GameOverScreen {
  background-image: url("./images/Thanos_resurrects_Vision.png");
  background-size: 100%;
  margin-top: 50px;
  border: 10px 10px;
}
